.task-item {
  display: inline-block;
  /* width: 20%; */
  padding: 10px;
  font-weight: 450;
  font-size: 14px;
}

.task {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 0;
  /* background-color: red; */
  display: inline-block;
}

.date {
  color: rgb(151, 151, 151);
  overflow: hidden;
  line-height: 0;
  /* background-color: blue; */
  text-align: left;
  display: inline-block;
  font-size: 10px;
}

.edit {
  color: rgb(151, 151, 151);
  overflow: hidden;
  /* background-color: green; */
  text-align: center;
  display: inline-block;
  padding: 0;
  line-height: 0;
}

.edit-btn {
  height: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  padding: 0px 10px;
}

.edit-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.done {
  text-align: center;
  /* background-color: yellow; */
  display: inline-block;
  padding: 0;
}

/* .edit {
  display: inline-block;
  background-color: green;
} */

.checkbox {
  width: 18px;
  height: 18px;
}

.checkbox:hover {
  cursor: pointer;
}

.delete-x {
  color: rgb(117, 112, 112);
  font-size: 30px;
  font-weight: 300;
}

.delete-x:hover {
  cursor: pointer;
}

.search-input {
  position: relative;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.24);
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: thin;
}

.search-container {
  position: sticky;
  padding-top: 10px;
  /* height: 35px; */
  padding-bottom: 5px;
  background-color: black;
  top: 0;
}

.past-due {
  color: tomato;
}

/* tasksList */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  line-height: 0.39;
  padding-top: 10px;
}

.tasks-container {
  overflow: auto;
  padding: 0px 10px 10px;
  scroll-behavior: smooth;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 40vh;
  border: 1px solid rgba(197, 196, 196, 0.267);
  border-radius: 5px;
  box-sizing: border-box;
}

.tasks-container::-webkit-scrollbar {
  display: none;
}

.no-tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 25px;
  color: grey;
  font-weight: bold;
}

.tasks-count-circle {
  background-color: black;
  border: 2px solid white;
  padding-top: 10px;
  width: 27px;
  height: 17px;
  z-index: 1;
  margin-left: -14px;
  margin-top: -5px;
  position: absolute;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 0;
}

.tasks-count {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

