.calendar-tl-container {
  width: 28%;
}

.calendar-body-container {
  width: 72%;
}

.cal-header {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.header-item {
  display: inline-block;
  width: 33.333%;
  text-align: center;
}

.days-container {
  color: rgb(107, 107, 107);
  font-size: small;
  /* background-color: red; */
  width: 100%;
}

.calendar-day {
  display: inline-block;
  width: 14.186%;
  text-align: center;
}

.date-card {
  color: white;
  flex: calc(100% * (1/7) - 1px - 1px);
  height: 14vh;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(197, 196, 196, 0.267);
  border-left: hidden;
  border-bottom: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.date-card:hover {
  cursor: pointer;
}

.today {
  display: flex;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  border: 1px solid white;
}

.not-today {
  text-align: left;
  padding-left: 10px;
}

.date-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.date-card-task {
  margin: 0;
  border: 1px solid rgba(187, 187, 187, 0.575);
  border-left: hidden;
  border-right: hidden;
  padding-left: 10px;
  color: white;
  height: 2vh;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}