.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
  text-align: left;
}

.close-x {
  text-align: right;
  /* background-color: red; */
  /* background-color: black; */
  /* z-index: 5; */
  padding-top: 10px;
  width: inherit;
  position: absolute;
  border-radius: 10px;
}

.close {
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  color: white;
  line-height: 0;
  padding: 10px;
}

.close:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* ----- */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
