.empty-card {
  color: black;
  overflow: auto;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  box-sizing: border-box;
}

.empty-card::-webkit-scrollbar {
    display: none;
  }

.simple-wrapper {
  padding: 0 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  position: relative;
}

.log-another {
  display: flex;
  font-size: 13px;
  align-items: center;
  padding-bottom: 5px;
}

.log-another-checkbox:hover {
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.164);
  color: white;
  margin-top: -10%;
  width: 25%;
  max-height: 65vh;
  outline-style: solid;
  outline-width: thin;
  outline-color: rgba(255, 255, 255, 0.253);
  border-radius: 5px;
  z-index: 5;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* display: table; */
}

.modal-on {
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(3px);
  background-color: rgba(51, 49, 49, 0.13);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xx {
  width: 25%;
  margin-top: -10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.164);
  max-height: 50vh;
  outline-style: solid;
  outline-width: thin;
  outline-color: rgba(255, 255, 255, 0.253);
  border-radius: 5px;
  z-index: 5;
  padding: 0px 10px;
}

.closing {
  /* background-color: red; */
  padding-top: 10px;
  text-align: right;
}

.test {
  width: 100%;
}

.modal-body {
  /* display: table-row; */
  padding: 10px 10px;
}

.list-modal {
  /* display: table-row; */
  height: 30vh;
  /* padding: 10px; */
  padding: 0;
  overflow: auto;
  /* background-color: blue; */
}

.list-modal::-webkit-scrollbar {
  display: none;
}

.input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.164);
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.356);
  transition: 0.3s border-color;
  box-sizing: border-box;
}

input:focus{
  outline: 1px solid white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.modal-btn {
  background-color: rgba(0, 0, 0, 0.164);
  width: 100%;
}

.description-box {
  resize: none;
  height: 100px;
  font-family: inherit;
  /* box-sizing: border-box; */
}

.description-box:focus {
  outline: 1px solid white;
}
/* padding - fix this */

.unpadded-top {
  padding: 0px 20px 20px;
}

.unpadded-left-right {
  padding: 5px 0px;
}

.unpadded-left {
  padding: 0px;
}

.padded-left-right {
  padding: 0px 20px;
}

.padded-right {
  padding: 0px 20px 0px 0px;
}

.padded-left {
  padding: 0px 20px 0px 0px;
}

.padded-around {
  padding: 20px;
}
